<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 <appSettings>
    <!--<add key="GLD.QueueBenchmark.Msmq.Address" value='FORMATNAME:DIRECT=OS:localhost\PRIVATE$\queuebenchmark'/>-->
    <add key="GLD.QueueBenchmark.Msmq.Address" value=".\private$\queuebenchmark" />
    <add key="GLD.QueueBenchmark.NetMq.Address" value="tcp://127.0.0.1:5556" />
    <add key="GLD.QueueBenchmark.StackExchangeRedis.ConnectionString" value="localhost" />
    <add key="GLD.QueueBenchmark.StackExchangeRedis" value="QueToDbQueue" />
  </appSettings>

</configuration>